.charList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

button {
    width: 100px;
    cursor: pointer;
    background-color: #68dcfc;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.25s;
}

button:hover {
    background-color: hsl(193, 93%, 20%);
    color: #fff;
}

.prev {
    border-radius: 0 5px 5px 0;
}

.next {
    border-radius: 5px 0 0 5px;
}